.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}

.Title {
  color: #191825;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
}
.heading2{
  color: #191825 !important;

font-family: Inter !important;
font-size: 40px;
font-style: normal !important;
font-weight: 500 !important;
line-height: 120% !important;
}
.heading3{
  color: #000;

font-family: Inter;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
.heading4 {
  color: #000;

  text-align: center;
  font-family: Inter;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%;
}

.gray {
  color: rgba(0, 0, 0, 0.5);
}


